@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: #fff;
  color: #222;
  font-family: "Montserrat", san-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms easy;
}

header ul.nav li:hover {
  opacity: 0.5
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background-color: #fafafa;
  -webkit-box-shadow: 7px 12px 8px -2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 7px 12px 8px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 12px 8px -2px rgba(34, 60, 80, 0.2);
  z-index: 2;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .item img {
  width: 100%;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .tem b {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item img {
  width: 70px;

}

header .presentation {
  margin: 50px auto;
  background: url("./img/bg.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation:after {
  content: "Лучшие товары для вашего дома";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation:before {
  content: "по низким ценам";
  font-size: 14px;
  font-weight: 300;
  top: 250px;
  left: 50px;
  width: 300px;
  position: absolute;
  color: #fff;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  position: relative;
  padding-bottom: 20px;
  width: 30%;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  overflow: hidden;
}

main .item img {
  width: 100%;
  border-radius: 10px 10px;
  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2, main p, main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: #a85656;
}

main button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-weight: 600;
  color: #fff;
  background-color: #ca5252;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: transform 500ms easy;
}

main button:hover {
  transform: scale(1.5) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}